<!DOCTYPE html>
<html>

<head>
    <title>RPG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="https://www.favicon.cc/logo3d/444399.png" type="image/x-icon">
</head>

<body background="https://lolstatic-a.akamaihd.net/site/skins-zombie-slayer/e00a99695f876daa0d2226f82576e6a0ac80082f/images/artwork/login-1920x1080.jpg" style="background-repeat: no-repeat;">

    <ul class="pagination justify-content-center" style="margin: 20px 0">
        <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="index.html">Index</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="attachment.html">Anexos</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="arma.html">Arma</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="armadura.html">Armadura</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="item.html">Item</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="monstro.html">Monstro</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="municaoarmas.html">Munição</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="npc.html">NPC</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="skill.html">Skill</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="veiculo.html">Veículo</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="attachment.html">Next</a>
        </li>
    </ul>
    <h1 class="display-1 text-capitalize font-weight-bolder text-center text-white">Cadastros de Dados de RPG</h1>
    <div class="text-right text-white">
        <small>©Copyright by Bruno Oliveira</small>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>